#lightbox {
    margin: 0;
    top: 100px;
    left: 100px;
    border-radius: 4%;
    transition: all 0.5s ease-out;
    scale: 0;
}

#lightbox.open{
    scale: 1;
}

#lightbox::backdrop {
    background-color: brown;
    opacity: 50%;
}
