#lightbox {
    margin: 0;
    top: 100px;
    left: 100px;
    border-radius: 4%;
    transition: scale 0.5s ease-out;
    scale: 0;
}

#lightbox.open{
    scale: 1.2;
}

#lightbox::backdrop {
    background-color: brown;
    transition: opacity 2s ease-out;
    opacity: 0%;
}

#lightbox.open::backdrop {
    opacity: 50%;
}
